/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body *{
  text-align: center;
}

form{
  padding-top: 5%;
}

button{
  margin: 20px auto;
  margin-left: 5%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
