/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  text-align: center;
}

form{
  padding-top: 5%;
}

button{
  margin: 50px;
}

h2{
  font-size: 50px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
