/*<ol>
			<li>Please make the h1 30px, with a little padding on the left, and thin red border</li>
			<li>Please make the h2 25px, with padding on top/bottom, a thick gold border, and margin on the top/bottom</li>
			<li>Please make the spans have a thin black border, a little padding, and blue</li>
			<li>Please make the section 25% width, 200px tall, centered, and with a thin purple border</li>
		</ol>*/

h1{
	font-size: 30px;
	padding-left: 10px;
	border: 1px solid red;
}

h2{
	font-size: 25px;
	padding: 20px 0;
	border: 10px solid gold;
	margin: 50px 0;
}

span{
	border: 1px solid black;
	padding: 10px;
	color: blue;
}

section{
	width: 25%;
	height: 200px;
	margin: 0 auto;
	border: 2px solid purple;
}